// app global css

.c-container {
    width: 95%;
    max-width: 1150px;
}

.ls-none {
    list-style: none;
}

.design-modal {
    min-width: 320px;
}

.errors {
    color: var(--q-color-negative);
    font-size: 12px;
}

.alert-warning
    color #856404
    background-color #fff3cd
    border-color #ffeeba